:root {

--fontHeading: 'Pt Sans', sans-serif;
--fontparagraphs: 'Open Sans', sans-serif;

/*Colors*/

--fondo: #F4F4F4;
--blanco: #fafafa;
--negro: #000000;
--primario: #234bed;
--primarioclaro: rgba(216, 236, 241, 0.427)

}

html {
    box-sizing: border-box; /*Hace que los paddings, borders, no afectan el ancho de los elementos*/
    font-size: 62.5%; /*1rem == 10px*/
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontparagraphs);
    font-size: 1.6rem;
    line-height: 2;/*interlineado*/
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% del alto de la pantalla */
    margin: 0;
    background: rgb(63,131,251);
    background: radial-gradient(circle, rgba(63,131,251,1) 0%, rgba(0,0,0,1) 100%);
}

h1, h2, h3, h4, th, td, tr, thead {
    font-family: var(--fontHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 3rem;
}

.mainContainer{
    text-align: center;
}

.mainContainer h2 {
    color: var(--blanco);
}

.container {
    background: rgba(255, 255, 255, 0.725);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
    width: auto;
    background:white ;
}

.input-container input {
    text-align: center;
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
}

.input-container:focus-within{/*se aplica cuando cualquier elemento dentro de el este en foco*/
    border-color: var(--primarioclaro);
    box-shadow: 0 0 5px var(--primario); /* Efecto de brillo alrededor debe ser un color mas fuerte que el del borde */
}


.button {
    height: 3rem;
    border-radius: 50%;
    padding: auto;
    cursor: pointer;
}

/* Estilo para la tabla */
#taskTable {
    width: 80%; /* Ajusta el ancho total de la tabla */
    max-width: 600px; /* Evita que crezca demasiado */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Estilo para las filas y celdas */
#taskTable th, #taskTable td {
    padding: .5rem;
    text-align: center; /* Centra el texto */
    border: 1px solid #ddd;
}

/* Mejor apariencia para el botón de eliminar */
#taskTable button {
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btnEdit{
    background-color: rgb(87, 137, 181); 
}

.btnDelete{
    background-color: rgb(209, 125, 65); 
}

.editing{
    background-color: #ffcc00; /* Color de resaltado */
    transform: scale(1.1); /* Hacer el botón más grande */
}

/*cHECKBOX*/

input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    accent-color: rgb(87, 181, 134);;
}

/*Animaciones*/

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  .bounce {
    animation: bounce 0.3s ease-in-out;
  }


  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }
  
  .shake {
    animation: shake 0.3s ease-in-out;
  }

  /*firma*/

  .signature{
    color: var(--negro);
    font-weight: bold;
    font-size: 8px;
}
